<p>
  <b>ID:</b>
  <%=h @document[:id] %>
</p>

<p>
  <b>Title:</b>
  <%=h @document[:title] %>
</p>

<p>
  <b>Type:</b>
  <%=h @document[:type] %>
</p>
<p>
  <b>Updated:</b>
  <%=h @document[:updated] %>
</p>



<%= link_to 'Back', documents_path %>
